# Gradle files
.gradle/
build/

# Local configuration file (SDK location, signing keys, etc.)
local.properties
/app/google-services.json

# Android Studio files
.idea/
*.iml

# Log files
*.log

# Android build output
*.apk
*.aab
*.aar

# Ignore virtual environment or other hidden system files
.DS_Store
Thumbs.db
 
